.forgetpassword_main_container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.forgetpassword_image_container {
  height: 30%;
  background: url("./../asset/forgot-password.png");
  margin-top: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.button_oval_style_submit_forgetpwd {
  background-color: #e50f32;
  color: white;
  border: 1px;
  border-radius: 35px/25px;
  width: 75px;
  height: 24px;
  cursor: pointer;
  display: block;
}

.forgetpwd_table_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 20px 0; */
  /* border: 1px solid red; */
}

.verified-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verified-container svg {
  width: 92px;
  height: 92px;
  color: #747171;
}
.verified-container p {
  margin-top: 24px;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
}
